@tailwind base;
@tailwind components;
@tailwind utilities;

.main-heading{
    font-size: 96px;
}
@media screen and (max-width: 1024px){
    .main-heading{
        font-size: 80px;
    }   
}
@media screen and (max-width: 768px){
    .main-heading{
        font-size: 70px;
    }   
}
@media screen and (max-width: 425px){
    .main-heading{
        font-size: 65px;
    }   
}
.main-heading{
    text-shadow: 0 0 10px #fff;
}
.more-info-btn{
    text-shadow: 0 0 10px #ec0e4f;
}
.contact_background {
    display: flex;
    width: 80vw;
    margin: auto;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(236, 14, 79,0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
  }