@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");

* {
  font-family: "Orelega One";
  color: #fff;
}
body {
  background-color: #7091f5;
  padding: 0 20px;
  overflow-x: hidden;
}
.home_section1_left {
  /* float: right; */
  font-size: 72px;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  color: #ff4d72;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home_section1_top_video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.home_section1_right video {
  mix-blend-mode: multiply;
}
.home_section1_right_video {
  border-radius: 100px 100px 0 100px;
}
.home_section2 {
  clear: both;
}
.home_heading {
  font-size: 72px;
  text-align: center;
}
.home_section2_cashOnDelivery_heading,
.home_section2_onPointDelievery_heading {
  font-size: 60px;
}
.home_section2_cashOnDelivery_description,
.home_section2_onPointDelievery_description {
  font-size: 30px;
}
.mobile_counter {
  background-color: #b07df1;
  padding: 20px;
  border-radius: 25px;
  min-width: 200px;
  text-align: center;
}
.mobile_svg {
  height: 80px;
  width: 80px;
  background: #ff4d72;
  border-radius: 50px;
  padding: 20px;
  transition: all 0.2s;
}
.mobile_svg:hover {
  rotate: 360deg;
  padding: 10px;
}
.counter {
  font-size: 50px;
}
